*, *::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(5, 16, 20);
}

.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 25px;
    background-color: rgb(15, 46, 58);
    width: 30%;
    min-width: 300px;
    border-radius: 7px;
}

.user-form > .form-input {
    display: flex;
    flex-direction: column;
}

.form-input label {
    color: white;
    margin-bottom: 5px;
}

.form-input input {
    border: none;
    border-radius: 5px;
    padding: 7px 0 7px 10px;
    border: 2px solid transparent;
    outline: none;
}

.form-input input:invalid {
    border: 2px solid transparent;
    /* transition: 500ms; */

}

.form-input input:invalid.inval {
    border: 2px solid red;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

.form-input input:valid {
    border: 2px solid transparent;
    transition: 500ms;
}

.form-input input:valid.validate {
    border: 2px solid #3692b6;
}

.form-input {
    position: relative;
}

.user-form button {
    border: none;
    font-weight: bold;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    background-color: white;
}

.user-form .icon-cross,
.user-form .icon-tick {
    position: absolute;
    right: -35px;
    bottom:5px;
    width: 27px;
    filter: invert(52%) sepia(60%) saturate(505%) hue-rotate(151deg) brightness(87%) contrast(85%);
}

.input-svg-container {
    display: flex;
}